.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.active-animation {
  animation-name: fadeIn ;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

@keyframes fadeIn {
    0% {filter:opacity(0%);}
    100% {filter:opacity(100%);}
  }

  .collapsible {
    background-color: cornsilk;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    z-index: 5;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    width: fit-content;
    background-color: #f1f1f1;
    position: absolute;
  }

  table{
    border-collapse:collapse;
    border:2px solid #ffffff;
    background-color: #ccc;
    }
    
    table td{
    border:2px solid #ffffff;
    min-width: 60px;
    }
    table th{
      border:2px solid #ffffff;
      min-width: 60px;
      }

      @media (max-width: 960px) {
        table {
          display: block;
          max-width: -moz-fit-content;
          max-width: fit-content;
          margin: 0 auto;
          overflow-x: auto;
          white-space: nowrap;
        }
    }